.apm
.node-gyp
.storage
blob-store
compile-cache/
storage
recovery
packages/atom-autocomplete-php/indexes
!packages/atom-autocomplete-php/indexes/.npmignore
packages/php-integrator-base/core
!packages/php-integrator-base/core/.npmignore
!packages/php-integrator-base/core/composer.phar
!packages/php-integrator-base/core/installer
packages/php-integrator-base/indexes
!packages/php-integrator-base/indexes/.npmignore
