packages: [
  "atom-monokai"
  "atom-overtype-mode"
  "autoclose-html"
  "autocomplete-paths"
  "autocomplete-ruby"
  "chary-tree-view"
  "ctags-status"
  "docblockr"
  "editorconfig"
  "file-icons"
  "fold-lines"
  "git-control"
  "git-status"
  "highlight-line"
  "highlight-selected"
  "idiomatic-dark-syntax"
  "language-lua"
  "markdown-writer"
  "merge-conflicts"
  "minimap"
  "minimap-git-diff"
  "minimap-highlight-selected"
  "minimap-pigments"
  "monokai-seti"
  "native-ui"
  "octocat-syntax"
  "open-recent"
  "open-terminal-here"
  "package-sync"
  "pigments"
  "project-viewer"
  "rails-i18n-autocomplete"
  "railscasts-theme"
  "remote-edit"
  "ruby-slim"
  "seti-icons"
  "ssh-config"
  "statusbar-datetime"
  "sync-settings"
  "tab-control"
  "todo-show"
  "tree-view-bundler"
  "tree-view-git-branch"
  "tree-view-git-modified"
  "tree-view-git-status"
  "tree-view-open-files"
  "visual-studio-code"
]
