@import 'syntax-variables';

.syntax--css {
  &.syntax--class {
    color: @pink !important;
  }

  &.syntax--property-value {
    color: @ghost-white;
  }

  &.syntax--punctuation {
    color: @ghost-white;
  }

  &.syntax--important {
    color: @very-pink !important;
  }

  &.syntax--id {
    color: @pink !important;
  }

  &.syntax--unit {
    color: darken(@syntax-constant, 15%) !important;
  }

  &.syntax--comment {
    &.syntax--begin, &.syntax--end {
      color: @brown;
    }
  }
}
