@import 'syntax-variables';

.syntax--python {
  &.syntax--class {
    color: @syntax-keyword;
  }

  &.syntax--inherited-class {
    color: @syntax-class !important;
  }

  &.syntax--function {
    &.syntax--storage {
      color: @syntax-keyword !important;
    }
  }

  &.syntax--function-call {
    color: @syntax-function;
  }

  &.syntax--docstring {
    color: @syntax-comment;
  }

  &.syntax--codetag {
    color: @syntax-todo !important;
  }
}
