@import './node_modules/github-atom-light-syntax/index.less';

// Fix wrap guide color.
atom-text-editor .wrap-guide { background-color: #eaecef; }

.syntax--php {
  // Fix variable color.
  .syntax--variable.syntax--php { color: #24292e; }

  // Fix static function color.
  .syntax--static .syntax--function { color: #24292e; }

  // Fix function name color.
  .syntax--function-call > .syntax--function.syntax--name,
  .syntax--function-call > .syntax--function.syntax--support { color: #005cc5; }

  // Fix method call color.
  .syntax--method-call .syntax--function { color: #24292e; }

  // Fix return type colon color.
  .syntax--return-value { color: #24292e; }

  // Fix phpdoc type color.
  .syntax--phpdoc {
    .syntax--type, .syntax--class, .syntax--namespace { color: #6a737d; }
  }
}
